<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to TechHookUp</title>
  </head>
  <body>
    <img src="<%= params['your_bathroom_selfie_in_url'] %>">
    <p>My name is <%= params['your_name'] %>. I live in <%= params['your_city'] %> and would love to pay <%= params['your_budget'] %> to any coder who can help me create an app that I can later sell to buy ton of weed. I call my mission <%= params['your_project_title'] %> to avoid being noticed by the Feds.</p>
  </body>
</html
